.counter {
  text-align: center;
  justify-content: center;
}

.counter_output {
  font-size: 40px;
}

.plus {
  height: 100vh;
  max-height: 100px;
  width: 10%;
  font-size: 40px;
  cursor: pointer;
}

.minus {
  height: 100vh;
  max-height: 100px;
  width: 10%;
  font-size: 40px;
  cursor: pointer;
}

.reset {
  height: 100vh;
  max-height: 100px;
  width: 10%;
  font-size: 40px;
  cursor: pointer;
}
